{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<div class = "corps">
<h1>{{title}}</h1>
<p>Symfo c'est fun </p>
<img src="{{('images/avatar.jpg') }}" alt="Avatar"> <img/>
</div>
{% endblock %}